<div class="row featured-section">
  <% if @category.articles.count > 0 %>
  <% @category.articles.order('id DESC').each do |article| %>
  <div class="col-12 col-md-6 bg-white">
    <div class="row h-100">
      <div class="col-6" style="background: url(<%=article.image %>) center no-repeat; background-size: cover;">
      </div>
      <div class="col-6">
        <div class="category-title-list text-dark font-weight-bold pt-2">
          <h3 class="position-relative"><%= @category.name %></h3>
        </div>
        <div class="text-dark pb-2 pt-2">
          <h5 class="position-relative font-weight-bold">
            <%= link_to article.title, article_path(article) %>
          </h5>
          <p class="mt-3"><%=article.text.truncate(10) %></p>
          <% if article.votes.count > 0 %>
          <p class="w-50 font-weight-bold mt-3 alert alert-success rounded p-1"> <%= article.votes.count %> vote(s) </p>
          <% end %>
          <% if voted?(article) %>
          <p class="font-weight-bold mt-3"> You have already voted this article</p>
          <% else %>
          <%= link_to "Vote", add_vote_path(article_id: article.id), class: "text-center w-25 mt-3 mb-3 p-2 bg-acumin-color text-white rounded nav-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
